
/* Your CSS Code here. */
.circular{
	height:500px;
	width:500px;
/* 	border-radius: 50%; */
/* 	border: 1px solid black; */
}
.sun{
	height:100px;
	width:200px;
/* 	background-image: url(''); */
	margin-left:150px;
	margin-top:40px;
}